<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
<link href="index.css" rel="stylesheet" type="text/css"></link>
</head>

<body>
 <div class="hd">
   <span class="logo">测试平台</span>
   <div class="nav"><a>主页</a><a>测试</a><a>管理</a></div>
   <div class="info"><input type="text" value="项目名称"><a class="search">搜索</a><a class="username"><span>kobe</span>▼</a><a class="feedback">意见反馈</a></div>
 </div>
 <div class="bd">
   <div class="bd_left">
     <ul>
       <li class="bd_left_noTop">全部项目</li>
       <li>最近项目</li>
       <li>已运行项目</li>
       <li class="bd_left_nBot">未处理项目</li>
     </ul>
   </div>
   <div class="bd_right">
     <div class="toolBtns">
       <a href="javascript:void(0);" id="uploadBtn">上传工程</a>
       <a href="javascript:void(0);" id="runBtn">运行工程</a>
       <a href="javascript:void(0);" id="reportBtn">查看报告</a></div>
     <div class="pro_list">
       <div class="listDet listTitle">
         <div class="proName"><input type="checkbox"><span>项目名称</span></div>
         <div class="proData">项目大小</div>
         <div class="proUpload">上传时间</div>
         <div class="proHand">项目状态</div>
       </div>
       <div id="projectsList">
       <div class="listDet">
         <div class="proName"><input type="checkbox" class="proCbx"><span>test.rar</span></div>
         <div class="proData">10.5m</div>
         <div class="proUpload">2014-04-11</div>
         <div class="proHand"><a>已上传</a></div>
       </div>
       <div class="listDet">
         <div class="proName"><input type="checkbox" class="proCbx"><span>test.rar</span></div>
         <div class="proData">10.5m</div>
         <div class="proUpload">2014-04-11</div>
         <div class="proHand"><a>已运行</a></div>
       </div>
       <div class="listDet">
         <div class="proName"><input type="checkbox" class="proCbx"><span>test.rar</span></div>
         <div class="proData">10.5m</div>
         <div class="proUpload">2014-04-11</div>
         <div class="proHand"><a>已上传</a></div>
       </div>
       </div>
     </div>
   </div>
 </div>
 <div class="dialogWind">
   <div class="dialogHd">上传工程<a href="javascript:void(0);">X</a></div>
   <div class="dialogBd">
     <input type="text" value="点击选择rar文件"><a>上传</a>
     <form><input type="file" style="display:none"></form>
   </div>
 </div>
 <div class="reportWind">
   <div class="dialogHd">运行报告<a href="javascript:void(0);">X</a></div>
   <div class="reportBd">
     
   </div>
 </div>
 <div class="ft"></div>
 <iframe style="display:none" id="hidIfr" name="hidIfr"></iframe>
 <script src="jquery-1.8.3.min.js" type="text/javascript"></script>
 <script language="javascript" src="utl.js"></script>
 <script src="highcharts.js"></script>
 <script>
   var bdObj = document.getElementsByTagName("body")[0];
   bdObj.onload = function(){
	   var bdHeight = document.body.offsetHeight;
	   $(".bd_left").height(bdHeight);
   }
   
   $("#uploadBtn").click(function(){
	   var content = '<div class="dialogWind">'+
                       '<div class="dialogHd">上传工程<a href="javascript:void(0);" _act="dialogCancel">X</a></div>'+
                       '<div class="dialogBd">'+
                         '<input type="text" value="点击选择rar文件" id="clickToSelect"><a id="uploadFileBtn" href="javascript:void(0);">上传</a>'+
                         '<form id="hidFrom"  style="display:none" target="hidIfr" action="" method="post" ><input type="file" id="hidFile"><input type="submit" id="subForm"></form>'+
                       '</div>'+
                    '</div>';
		var dlg = BDK.DIALOG.createDlg({
        'content':content
        ,'mask':true
        ,'dragable':false
        ,'width':'400px'
        ,'height':'100px'
        });
		dlg.show();
		$("#clickToSelect").focus(function(){
		  $("#hidFile").trigger("click");	
		  $(this).blur();
		});
		$("#hidFile").change(function(){
		  var flieName = $(this).val();
		  $("#clickToSelect").addClass("blackInput").val(flieName);	
		});
		$("#uploadFileBtn").click(function(){
			var cont = $("#clickToSelect").val();
			if(cont==''||cont=='点击选择rar文件'){alert('请先选择文件')}
			else{$("#hidFrom").submit();}
		});
	});
	
	$("#reportBtn").click(function(){
		var len = testCbxNum();
		if(len==0){alert("请选择项目");return}
		var content = '<div class="reportWind">'+
                       '<div class="dialogHd">运行报告<a href="javascript:void(0);" _act="dialogCancel">X</a></div>'+
                       '<div class="reportBd" id="reportBd">'+
                       '</div>'+
                     '</div>';
		var dlg = BDK.DIALOG.createDlg({
        'content':content
        ,'mask':true
        ,'dragable':false
        ,'width':'400px'
        ,'height':'300px'
        });
		dlg.show();
		$.ajax({
				url:'',
				type:'POST',
				data:'',
				success: function(data){
					
				},
		});
		$('#reportBd').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '测试结果'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '占比',
            data: [
                ['成功',   45.0],
                ['失败',       26.8],
                ['未执行',    8.5],
            ]
        }]
    });
	});
	
	function testCbxNum(){
		var len = $(".proCbx:checked").length;
	  	return len;
	}
	
	function uploadFileBack(fileName){
		var cont = '<div class="listDet">'+
                    '<div class="proName"><input type="checkbox" class="proCbx"><span>test.rar</span></div>'+
                    '<div class="proData">10.5m</div>'+
                    '<div class="proUpload">2014-04-11</div>'+
                    '<div class="proHand"><a>已上传</a></div>'+
                  '</div>';
		$(".projectsList").prepend(cont);
	}
	
	$("#runBtn").click(function(){
		var len = testCbxNum();
		if(len==0){alert("请选择项目")}
		else{
			$.ajax({
				url:'',
				type:'POST',
				data:'',
				success: function(){},
				});
		}
	});
 </script>
</body> 
</html>
